<div class="nvd3-chart-container">
<button type="button" {{action 'toggleChart'}}>Toggle Chart</button>
{{#if isLineChart}}
  {{nvd3-chart
    type="lineChart"
    datum=datumLine
    options=options
    afterSetup=afterSetup
    beforeSetup=beforeSetup
    dispatchEvents=dispatchEvents
  }}

{{else}}
<button type="button" {{action 'refreshData'}}>Refresh Data</button>

  {{nvd3-chart
    type="multiBarChart"
    datum=datumBar
    options=options
    afterSetup=afterSetup
    beforeSetup=beforeSetup
    dispatchEvents=dispatchEvents
  }}
{{/if}}

</div>
